h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px;
}

.aboutMe > h2, .contactMe > h2{
  margin-top: 0;
}
body{
  background-color: #d0d0d0;
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
  color: #670a0a;
}

#myPic{
  width: 33%;
  margin-left: 5%;
  margin-bottom: 5%;
}

p.social{
  font-size: 20px;
  overflow: auto;
}
img.social{
  float: left;
  height: 25px;
}
a:hover{
  color: black;
  text-decoration: none;
}


main{
  border: 5px solid #670a0a;
  /*width: 900px;
  margin: 20px auto;*/
  padding: 5%;
  overflow: auto;
  }


hr{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 2px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  width: 95%;
}

.date{
  text-transform: uppercase;
  font-weight: 700;
}

footer{
  text-align: center;
  position: absolute;
  bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
