    /* =========
        GENERAL
       ==========*/
    
    body {
        padding-top: 50px;
    }
    
    .spacer {
        height: 50px;
    }
    
    .wrapper {
        padding-bottom: 30px;
    }

    hr {
        margin: 1.5em 0;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.6em;
        margin-bottom: 1em;  
    }

    /*  ========
        NAVBAR 
        ======== */
    
    .navbar-brand {
        font-family: 'Montserrat';
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(56, 56, 56, 1);
        font-size: 1.5em;   
    }

    /* ===========
        PORTFOLIO 
       ============*/
    
    .portImg {
        width: 90%;
    }
    
    .portCol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .portImg img {
        width: 100%;
    }
    
    a.thumbnail:hover,
    a.thumbnail:focus,
    a.thumbnail.active {
        border-color: rgba(153, 153, 153, .75);
    }
    

    /*=================================
    HEADER STYLES
    =============================*/
    
    header {
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../img/desk-office.jpg');
        background-position: center;
        background-size: cover;
    }
    
    .header-content {
        text-align: center;
    }
    
    .header-h1,
    .header-h3 {
        color: rgb(221, 221, 221);
        text-shadow: 1px 1px 1px rgba(56, 56, 56, 1);
    }
    
    .header-h1 {
        font-size: 3.5em;
        font-weight: bold;
    }
    
    .header-h3 {
        font-size: 1.25em;
        margin-top: 1em;
    }

    .header-hr {
        margin: 1.75em 0
    }
    
    .header-button {
        font-size: .75em;
        margin-left: .25em;
        margin-right: .25em;
    }
    
    .contact-me {
        margin-top: 2em;
        list-style: none;
        line-height: 2;
    }


    /*  =======
        FOOTER
        =======*/
    
    .footer {
        bottom: 0;
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /*  =============
        MEDIA QUERIES
        ===============*/


    @media only screen and (min-width: 400px) {
        header, main {
            font-size: 1.15em;
        }
    }

    @media only screen and (min-width: 600px) {
        header{
            font-size: 1.5em;
        }
        main{
            font-size: 1.25em;
        }
    }

    @media only screen and (min-width: 768px) {
        header{
            font-size: 1.75em;
        }

        h2{
            font-size: 2.5em;
        }
        h3{
            font-size: 1.75em;
        }


        hr {
            margin-bottom: 2em;
        }
        
        .portImg {
            margin-bottom: 2em;
        }

        #about h3 {
            margin: 1.2em 0;
        }
    }

    @media only screen and (min-width: 1024px){
        header{
            font-size: 2em;
        }
        #nav-links {
            font-size: 1.25em;
        }
        .navbar-brand{
            font-size: 1.75em;
        }
    }

    @media only screen and (min-width: 1200px){
        header{
            font-size: 2.25em;
        }

        #about p, #contact p, #contact a {
            font-size: 1.25em;
        }

        #contact p {
            margin-top: 2em;
        }

        #nav-links li {
            margin-right: 15px;
        }

        .navbar-brand {
            margin-left: 15px;
        }
    }