
body {
    padding-top: 50px;
}

.navbar-brand{
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 1);
}

/*=================================
    HEADER STYLES
    =============================*/
    
header {
    height: 95vh;
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/desk-office.jpg');
    background-position: center;
    background-size: cover;
}

.header-content {
    text-align: center;
}

header h1, header h2, header h3, header h4 {
    color: rgb(221, 221, 221);
    text-shadow: 1px 1px 1px rgba(56, 56, 56, 1);
}

header h1 {
    font-size: 5rem;
    font-weight: bold;
}

header h3 {
    font-size: 2rem;
    margin-top: 1em;
}

hr{
    margin: 2.5rem 0;
}

header a{
    margin-left: .5rem;
    margin-right: .5rem;
}

.contact-me{
    list-style: none;
    line-height: 2;
}

.spacer{
    height: 50px;
}
.wrapper{
    padding-bottom: 30px;
}
.footer {
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

body > .container {
    padding: 60px 15px 0;
}

@media only screen and (min-width: 700px){
    header h1 {
        font-size: 8rem;
    }
    header h3{
        font-size: 3rem;
    }

    header hr{
        margin: 3rem 0;
    }

}

@media only screen and (min-width: 1200px){
        #nav-links {
        font-size: 1.5em;   
    }
    #nav-links li{
        margin-right: 15px;
    }
    .navbar-brand{
        font-size: 1.5em;
        margin-left: 15px;
    }

        header h1 {
        font-size: 9rem; 
    }

    header h3{
        font-size: 3.5rem;
    }

    header hr{
        margin: 4rem 0;
    }

    header .btn-primary{
        font-size: 2rem;
        margin: 0 15px;
    } 
        
    

}
