<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Me - Jason Scott</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    <a href="index.html" class="logo"><h1>Jason Scott</h1></a>
    <nav>
      <div class="navbar">
        <ul>
          <li class="mainmenu"><a href="../index.html">Home</a></li>
          <li class="mainmenu"><a href="about.html">About Me</a></li>
          <li class="mainmenu"><a href="contact.html">Contact</a></li>
          <li class="mainmenu dropdown"> Assignments
            <ul class="submenu">
              <li> <a href="#">Assignment 1</a></li>
              <li> <a href="#">Assignment 2</a></li>
              <li> <a href="#">Assignment 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <article class="aboutMe">
      <h2>About Me</h2>
      <p>
        <img id="myPic" src="../img/beach_pic.jpg" alt="Picture of me at a beach" />
      </p>
      <section>
        <h4>My Background</h4>
        <p>
          I am 28 years old and I am originally from Columbus, Ohio. In the U.S. I earned my Bachelor's in Criminal Justice and my Master's in Criminology. During my education, I worked various jobs relating to my field including a year as a private police officer. In 2013, my life quickly changed after I became engaged to my wife, Mirjam, who is from Sweden. I moved to Gothenburg shortly after we were engaged and I have been living here since.
        </p>
      </section>
      <section>
        <h4>Change in Career</h4>
        <p>
          Finding work in Criminology has not been easy in Sweden, so I have decided to switch career paths. Computers, networking, and to a certain extent programming have always been passions of mine, but I did not pursue a career in that field due to job uncertainty in the U.S. at the time. Now that I am able to receive free education in Sweden, I plan to make the most of it by reeducating myself for a career as a full stack developer.
        </p>
      </section>
      <section>
        <h4>What I Could Teach Others</h4>
        <p>
          I am most knowledgeable about sociological and criminological topics, so if anyone is interested about that sort of thing feel free to ask! In terms of programming I have experience mostly with C# and Python. I also have intermediate knowledge about Linux.
        </p>
      </section>
    </article>
  </main>
  <footer>
    <p>
      &copy Jason Scott 2016
    </p>
  </footer>
</body>
</html>
