<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Me - Jason Scott</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    <a href="index.html" class="logo"><h1>Jason Scott</h1></a>
    <nav>
      <div class="navbar">
        <ul>
          <li class="mainmenu"><a href="../index.html">Home</a></li>
          <li class="mainmenu"><a href="about.html">About Me</a></li>
          <li class="mainmenu"><a href="contact.html">Contact</a></li>
          <li class="mainmenu dropdown"> Assignments
            <ul class="submenu">
              <li> <a href="#">Assignment 1</a></li>
              <li> <a href="#">Assignment 2</a></li>
              <li> <a href="#">Assignment 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <article class="contactMe">
      <h2>Contact Me</h2>
      <p class="social">
        <img class="social" src="../img/facebook.png" alt="Facebook logo" />
        <a href="http://www.facebook.com/sporkfish"> Reach Me on Facebook!</a>
      </p>
      <p class="social">
        <img class="social" src="../img/mail.png" alt="Mail logo" />
        <a href="mailto:sporkfish@gmail.com">E-mail Me!</a>
      </p>
    </article>
  </main>
  <footer>
    <p>
      &copy Jason Scott 2016
    </p>
  </footer>
</body>
</html>
