<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Me - Jason Scott</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../../css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../css/theme.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../index.html">Jason Scott</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="../../index.html">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="../about.html">About Me</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Web in 5 Years</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <main>
      <article class="fiveyears">
        <h2>The Web in Five Years</h2>
        <p>
          The web changes at such a rate that it is almost indistinguishable from its previous form when you look back even a few years in the past. The changes happen at an increasingly quick rate, where norms and standards can change seemingly overnight. It is very hard to predict what the web will look like in five years, but if I were to guess I would say the big shifts will be in the form of users more frequently being connected through multiple means simultaneously, a increasing focus on user customization, and an even greater level of individual targeting by web companies.
        </p>
        <p>
          The amount of ways a user can access the web already is astounding. People already have access to the web from their car dashboards, phones, tablets, glasses, televisions, etc. I think one of the most interesting trends is users frequently being connected to the web in multiple ways  at once. I know I often catch myself browsing the web or apps on my phone while I’m already sitting in front of my computer using the web in a different way. I believe we will see an increase in this sort of behavior, and web developers will need to make sure their product can be reached and optimally utilized from nearly any sort of device. There will also need to be a focus on allowing web services to interact with each other effectively from multiple devices at once.
        </p>
        <p>
          I also believe that user customization in the web experience will see large growth in the coming years. Right now, a user accesses a website or app and is presented with just one way to access the content or use the service. There might be minor changes to layout the user can make, but nothing significant. I believe that soon we will see a focus on allowing the user to customize the user experience and layout in a much greater way so that perhaps two people can visit the same site and have it look almost entirely different for each of them.
        </p>
        <p>
          Companies being able to individually target users based on their personalities, preferences, and other factors has seen a huge rise in recent years due to social media sites like Facebook harvesting and selling user data. While I personally feel this is a disturbing trend, and I take many measures to prevent it in my own browsing, I think this tactic will be refined and developed greatly in the next five years. I think that sites will be dramatically different based on who is accessing them due to this sort of selective targeting.
        </p>

        <p>
           While it is hard to know how the web will change in next five years, I am excited to see it unfold. I am also looking forward to being part of the culture of change through my own developmental efforts.
        </p>

      </article>
    </main>
  </div>

  <script
        src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
